 .u-section-1 {
  min-height: 1027px;
}

.u-section-1 .u-group-1 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
  min-height: 626px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 310px;
  height: 309px;
  margin: 139px auto 0 37px;
}

.u-section-1 .u-image-2 {
  width: 883px;
  height: 883px;
  object-position: 0% 50%;
  background-image: url("images/OIG2.jfif");
  background-position: 50% 50%;
  margin: -596px calc(((100% - 1140px) / 2)  + -22px) 0 auto;
}

.u-section-1 .u-group-2 {
  min-height: 523px;
  width: 549px;
  height: auto;
  margin: -409px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 10px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -147px calc(((100% - 1140px) / 2)  + 113px) 82px auto;
  padding: 21px 124px 22px 123px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 940px) / 2) + -22px);
  }

  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 864px;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-2 {
    margin-top: -246px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 684px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    margin-top: -66px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 484px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 10px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-top: 134px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 340px) / 2));
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1122px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 98px 421px 0 452px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 44px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 927px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 840px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 927px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 140px 0 191px;
}

.u-section-2 .u-group-1 {
  width: 73px;
  min-height: 65px;
  height: auto;
  margin: -69px auto 0 76px;
}

.u-section-2 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  line-height: 1.8;
  font-size: 1.5rem;
  margin: 25px 30px 0 76px;
}

.u-section-2 .u-text-5 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 28px 143px 0 188px;
}

.u-section-2 .u-group-2 {
  width: 73px;
  min-height: 59px;
  height: auto;
  margin: -68px auto 0 75px;
}

.u-section-2 .u-text-6 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  line-height: 1.8;
  font-size: 1.5rem;
  margin: 30px 30px 0 76px;
}

.u-section-2 .u-text-8 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 30px 143px 0 188px;
}

.u-section-2 .u-group-3 {
  width: 73px;
  min-height: 59px;
  height: auto;
  margin: -69px auto 0 76px;
}

.u-section-2 .u-text-9 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-10 {
  line-height: 1.8;
  font-size: 1.5rem;
  margin: 30px 30px 0 76px;
}

.u-section-2 .u-group-4 {
  width: 73px;
  min-height: 59px;
  height: auto;
  margin: 22px auto 0 76px;
}

.u-section-2 .u-text-11 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 6px;
}

.u-section-2 .u-text-12 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -51px 5px 0 188px;
}

.u-section-2 .u-text-13 {
  line-height: 1.8;
  font-size: 1.5rem;
  margin: 26px 31px 0 75px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 937px;
  }

  .u-section-2 .u-text-1 {
    font-family: Roboto, sans-serif;
    width: 235px;
    margin-left: 352px;
    margin-right: 321px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 745px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-1 {
    height: 615px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 764px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 45px;
  }

  .u-section-2 .u-text-2 {
    font-family: Roboto, sans-serif;
    margin-right: 90px;
    margin-left: 141px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    font-family: Roboto, sans-serif;
    margin-right: 93px;
    margin-left: 138px;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-2 .u-text-8 {
    font-family: Roboto, sans-serif;
    margin-right: 93px;
    margin-left: 138px;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-2 .u-group-4 {
    margin-left: 6px;
    height: auto;
  }

  .u-section-2 .u-text-12 {
    font-family: Roboto, sans-serif;
    margin-right: 0;
    margin-left: 93px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 0;
    margin-left: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1268px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 242px;
    margin-right: 211px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 571px;
  }

  .u-section-2 .u-image-1 {
    height: 850px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 60px;
    margin-left: 111px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 63px;
    margin-left: 108px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 38px;
    margin-left: 83px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
  }

  .u-section-2 .u-group-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    margin-left: 0;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1051px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 152px;
    margin-right: 121px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 515px;
  }

  .u-section-2 .u-image-1 {
    height: 657px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 50px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 31px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 31px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-2 .u-group-3 {
    margin-top: -26px;
  }

  .u-section-2 .u-text-10 {
    font-size: 1rem;
  }

  .u-section-2 .u-group-4 {
    margin-top: -26px;
  }

  .u-section-2 .u-text-13 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 810px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 52px;
    margin-right: 21px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 324px;
  }

  .u-section-2 .u-image-1 {
    height: 414px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.875rem;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.875rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-11 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-12 {
    font-size: 1.875rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 536px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 403px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/OIG32.jfif");
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 476px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-family: Roboto, sans-serif;
  font-size: 3rem;
  margin: 38px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 22px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 332px;
    background-position: 50% 50%;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 392px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 254px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 381px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 240px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 676px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 33px auto 0;
}

.u-section-4 .u-video-1 {
  height: 371px;
  width: 716px;
  margin: 19px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 19px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  width: 680px;
  margin: 14px auto 19px;
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-4 .u-video-1 {
    height: 280px;
    width: 540px;
  }

  .u-section-4 .u-text-3 {
    width: 540px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-4 .u-video-1 {
    height: 176px;
    width: 340px;
  }

  .u-section-4 .u-text-3 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1239px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 54px 320px 0 auto;
}

.u-section-5 .u-list-1 {
  margin-top: 72px;
  margin-bottom: 60px;
  grid-template-rows: repeat(1, auto);
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 18px));
  min-height: 947px;
  grid-auto-columns: calc(33.3333% - 18px);
  grid-gap: 27px;
}

.u-section-5 .u-list-item-1 {
  --radius: 50px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 0 13px;
}

.u-section-5 .u-image-1 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 50px;
  --top-right-radius: 50px;
  filter: brightness(0.9);
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 12px 20px 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 12px 12px 0;
}

.u-section-5 .u-list-item-2 {
  --radius: 50px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 0 0 13px;
}

.u-section-5 .u-image-2 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 50px;
  --top-right-radius: 50px;
  filter: brightness(0.9);
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  margin: 12px 20px 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 12px 12px 0;
}

.u-section-5 .u-list-item-3 {
  --radius: 50px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 0 0 13px;
}

.u-section-5 .u-image-3 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 50px;
  --top-right-radius: 50px;
  filter: brightness(0.9);
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  text-transform: none;
  margin: 12px 20px 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 12px 12px 0;
}

.u-section-5 .u-list-item-4 {
  --radius: 50px;
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 0 0 13px;
}

.u-section-5 .u-image-4 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 50px;
  --top-right-radius: 50px;
  filter: brightness(0.9);
}

.u-section-5 .u-text-8 {
  font-weight: 700;
  text-transform: none;
  margin: 12px 20px 0;
}

.u-section-5 .u-text-9 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 12px 12px 0;
}

.u-section-5 .u-list-item-5 {
  --radius: 50px;
  background-image: none;
}

.u-section-5 .u-container-layout-5 {
  padding: 0 0 13px;
}

.u-section-5 .u-image-5 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 50px;
  --top-right-radius: 50px;
  filter: brightness(0.9);
}

.u-section-5 .u-text-10 {
  font-weight: 700;
  text-transform: none;
  margin: 12px 20px 0;
}

.u-section-5 .u-text-11 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 12px 12px 0;
}

.u-section-5 .u-list-item-6 {
  --radius: 50px;
  background-image: none;
}

.u-section-5 .u-container-layout-6 {
  padding: 0 0 13px;
}

.u-section-5 .u-image-6 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 50px;
  --top-right-radius: 50px;
  filter: brightness(0.9);
}

.u-section-5 .u-text-12 {
  font-weight: 700;
  text-transform: none;
  margin: 12px 20px 0;
}

.u-section-5 .u-text-13 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 12px 12px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-top: -95px;
    margin-right: 264px;
  }

  .u-section-5 .u-list-1 {
    margin-top: 54px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 18px));
    min-height: 777px;
    grid-auto-columns: calc(33.333333333333336% - 18px);
  }

  .u-section-5 .u-image-1 {
    height: 254px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
  }

  .u-section-5 .u-text-3 {
    margin-top: 19px;
    margin-right: 30px;
    margin-left: 20px;
  }

  .u-section-5 .u-image-2 {
    height: 254px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
  }

  .u-section-5 .u-text-5 {
    margin-top: 19px;
    margin-right: 30px;
    margin-left: 20px;
  }

  .u-section-5 .u-image-3 {
    height: 254px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
  }

  .u-section-5 .u-text-7 {
    margin-top: 19px;
    margin-right: 30px;
    margin-left: 20px;
  }

  .u-section-5 .u-image-4 {
    height: 254px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
  }

  .u-section-5 .u-text-9 {
    margin-top: 19px;
    margin-right: 30px;
    margin-left: 20px;
  }

  .u-section-5 .u-image-5 {
    height: 254px;
  }

  .u-section-5 .u-text-10 {
    width: auto;
  }

  .u-section-5 .u-text-11 {
    margin-top: 19px;
    margin-right: 30px;
    margin-left: 20px;
  }

  .u-section-5 .u-image-6 {
    height: 254px;
  }

  .u-section-5 .u-text-12 {
    width: auto;
  }

  .u-section-5 .u-text-13 {
    margin-top: 19px;
    margin-right: 30px;
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-top: 396px;
    margin-right: 202px;
  }

  .u-section-5 .u-list-1 {
    margin-top: -408px;
    margin-bottom: -100px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 13.5px));
    min-height: 1374px;
    grid-auto-columns: calc(50% - 13.5px);
  }

  .u-section-5 .u-image-1 {
    height: 292px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 20px;
  }

  .u-section-5 .u-image-2 {
    height: 292px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 20px;
  }

  .u-section-5 .u-image-3 {
    height: 292px;
  }

  .u-section-5 .u-text-7 {
    margin-right: 20px;
  }

  .u-section-5 .u-image-4 {
    height: 292px;
  }

  .u-section-5 .u-text-9 {
    margin-right: 20px;
  }

  .u-section-5 .u-image-5 {
    height: 292px;
  }

  .u-section-5 .u-text-11 {
    margin-right: 20px;
  }

  .u-section-5 .u-image-6 {
    height: 292px;
  }

  .u-section-5 .u-text-13 {
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 2640px;
    margin-right: 152px;
  }

  .u-section-5 .u-list-1 {
    margin-top: -2625px;
    margin-bottom: -877px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-5 .u-image-1 {
    height: 438px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 18px;
  }

  .u-section-5 .u-image-2 {
    height: 438px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 18px;
  }

  .u-section-5 .u-image-3 {
    height: 438px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 18px;
  }

  .u-section-5 .u-image-4 {
    height: 438px;
  }

  .u-section-5 .u-text-9 {
    margin-top: 18px;
  }

  .u-section-5 .u-image-5 {
    height: 438px;
  }

  .u-section-5 .u-text-11 {
    margin-top: 18px;
  }

  .u-section-5 .u-image-6 {
    height: 438px;
  }

  .u-section-5 .u-text-13 {
    margin-top: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 1662px;
    margin-right: 96px;
  }

  .u-section-5 .u-list-1 {
    margin-top: -1640px;
    margin-bottom: -884px;
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-5 .u-image-1 {
    height: 276px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 17px;
  }

  .u-section-5 .u-image-2 {
    height: 276px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 17px;
  }

  .u-section-5 .u-image-3 {
    height: 276px;
  }

  .u-section-5 .u-text-7 {
    margin-top: 17px;
  }

  .u-section-5 .u-image-4 {
    height: 276px;
  }

  .u-section-5 .u-text-9 {
    margin-top: 17px;
  }

  .u-section-5 .u-image-5 {
    height: 276px;
  }

  .u-section-5 .u-text-11 {
    margin-top: 17px;
  }

  .u-section-5 .u-image-6 {
    height: 276px;
  }

  .u-section-5 .u-text-13 {
    margin-top: 17px;
  }
}

.u-section-5 .u-text-7,
.u-section-5 .u-text-7:before,
.u-section-5 .u-text-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-text-7.u-text-7.u-text-7:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-text-7.u-text-7.u-text-7.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-text-3,
.u-section-5 .u-text-3:before,
.u-section-5 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-text-3.u-text-3.u-text-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-text-3.u-text-3.u-text-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-text-5,
.u-section-5 .u-text-5:before,
.u-section-5 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-text-5.u-text-5.u-text-5:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-text-5.u-text-5.u-text-5.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-text-9,
.u-section-5 .u-text-9:before,
.u-section-5 .u-text-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-text-9.u-text-9.u-text-9:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-text-9.u-text-9.u-text-9.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-text-11,
.u-section-5 .u-text-11:before,
.u-section-5 .u-text-11 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-text-11.u-text-11.u-text-11:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-text-11.u-text-11.u-text-11.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-text-13,
.u-section-5 .u-text-13:before,
.u-section-5 .u-text-13 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-text-13.u-text-13.u-text-13:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-text-13.u-text-13.u-text-13.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 540px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 40px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: 44px 0 33px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px;
}

.u-section-6 .u-video-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 900px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 239px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 239px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 439px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 5px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 374px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 20px auto 0;
}

.u-section-7 .u-text-1 {
  margin: 10px 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.125rem;
  margin: 10px 179px 0 auto;
}

.u-section-7 .u-btn-1 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
  padding: 17px 49px 17px 47px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 308px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 144px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 165px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 105px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 314px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }
}