 .u-section-1 {
  min-height: 941px;
}

.u-section-1 .u-group-1 {
  height: auto;
  margin-top: -86px;
  margin-bottom: 0;
  background-image: none;
  min-height: 626px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 310px;
  height: 309px;
  margin: 139px auto 0 37px;
}

.u-section-1 .u-image-2 {
  width: 883px;
  height: 883px;
  object-position: 0% 50%;
  background-image: url("images/OIG2.jfif");
  background-position: 50% 50%;
  margin: -596px calc(((100% - 1140px) / 2)  + -22px) 0 auto;
}

.u-section-1 .u-group-2 {
  min-height: 523px;
  width: 549px;
  height: auto;
  margin: -409px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 10px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -147px calc(((100% - 1140px) / 2)  + 114px) 60px auto;
  padding: 21px 124px 22px 123px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-image-2 {
    margin-right: calc(((100% - 940px) / 2) + -22px);
  }

  .u-section-1 .u-group-2 {
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 778px;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-2 {
    margin-top: -246px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 598px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    margin-top: -66px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 398px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 10px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-top: 134px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-2 {
  background-image: none;
  min-height: 1220px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 669px;
  margin: 19px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 7px;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  min-height: 371px;
  background-image: url("images/OIG2.jfif");
  background-position: 50% 50%;
  --radius: 30px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 20px 19px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 371px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 17px auto 0 20px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 30px 0 0;
}

.u-section-2 .u-image-2 {
  min-height: 371px;
  background-image: url("images/OIG1.jfif");
  background-position: 50% 50%;
  --radius: 30px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 20px 19px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 371px;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 14px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  margin: 44px 0 0;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-2 .u-image-3 {
  min-height: 371px;
  background-image: url("images/OIG3.jfif");
  background-position: 50% 50%;
  --radius: 30px;
}

.u-section-2 .u-container-layout-5 {
  padding: 20px 20px 19px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 371px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-7 {
  padding: 20px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 17px auto 0 20px;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 30px 0 0;
}

.u-section-2 .u-image-4 {
  min-height: 371px;
  background-image: url("images/OIG24.jfif");
  background-position: 50% 50%;
  --radius: 30px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-8 {
  padding: 20px 20px 19px;
}

.u-section-2 .u-layout-cell-8 {
  min-height: 371px;
}

.u-section-2 .u-container-layout-9 {
  padding: 20px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  margin: 14px auto 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.25rem;
  margin: 44px 0 0;
}

.u-section-2 .u-layout-wrap-3 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-2 .u-image-5 {
  min-height: 371px;
  background-image: url("images/OIG4.jfif");
  background-position: 50% 50%;
  --radius: 30px;
}

.u-section-2 .u-container-layout-10 {
  padding: 20px 20px 19px;
}

.u-section-2 .u-layout-cell-10 {
  min-height: 371px;
}

.u-section-2 .u-container-layout-11 {
  padding: 20px;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  margin: 17px auto 0 20px;
}

.u-section-2 .u-text-11 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 30px 0 0;
}

.u-section-2 .u-layout-cell-11 {
  min-height: 371px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-image-6 {
  background-image: url("images/OIG31.jfif");
  transition-duration: 0.5s;
}

.u-section-2 .u-container-layout-12 {
  padding: 20px 20px 19px;
}

.u-section-2 .u-layout-cell-12 {
  min-height: 371px;
}

.u-section-2 .u-container-layout-13 {
  padding: 20px;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  margin: 14px auto 0;
}

.u-section-2 .u-text-13 {
  font-size: 1.25rem;
  margin: 44px 0 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 1025px;
  }

  .u-section-2 .u-image-1 {
    min-height: 306px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 306px;
  }

  .u-section-2 .u-image-2 {
    min-height: 306px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 306px;
  }

  .u-section-2 .u-image-3 {
    min-height: 306px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 306px;
  }

  .u-section-2 .u-image-4 {
    min-height: 306px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 306px;
  }

  .u-section-2 .u-image-5 {
    min-height: 306px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 306px;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 306px;
    background-position: 50% 50%;
    --radius: 30px;
  }

  .u-section-2 .u-layout-cell-12 {
    min-height: 306px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1513px;
  }

  .u-section-2 .u-image-1 {
    min-height: 586px;
    order: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
    order: 1;
  }

  .u-section-2 .u-image-2 {
    min-height: 586px;
    order: 3;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
    order: 2;
  }

  .u-section-2 .u-image-3 {
    min-height: 586px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-2 .u-image-4 {
    min-height: 586px;
  }

  .u-section-2 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-2 .u-image-5 {
    min-height: 234px;
  }

  .u-section-2 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 234px;
  }

  .u-section-2 .u-layout-cell-12 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 5679px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    min-height: 879px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-2 .u-image-2 {
    min-height: 879px;
    order: 2;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-4 {
    order: 3;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-2 .u-image-3 {
    min-height: 879px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
  }

  .u-section-2 .u-image-4 {
    min-height: 879px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-2 .u-image-5 {
    min-height: 878px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-11 {
    font-size: 1rem;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 878px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-13 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 3725px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 553px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 553px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 553px;
  }

  .u-section-2 .u-image-4 {
    min-height: 553px;
  }

  .u-section-2 .u-image-5 {
    min-height: 553px;
  }

  .u-section-2 .u-layout-cell-11 {
    min-height: 553px;
  }
}

.u-section-2 .u-text-6,
.u-section-2 .u-text-6:before,
.u-section-2 .u-text-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-6 {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-container-layout.hover > .u-section-2 .u-text-6 {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-text-7,
.u-section-2 .u-text-7:before,
.u-section-2 .u-text-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-7 {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-container-layout.hover > .u-section-2 .u-text-7 {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-image-4,
.u-section-2 .u-image-4:before,
.u-section-2 .u-image-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-4.u-image-4.u-image-4:hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-image-4.u-image-4.u-image-4.hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-layout-cell-11,
.u-section-2 .u-layout-cell-11:before,
.u-section-2 .u-layout-cell-11 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-layout-cell-11.u-layout-cell-11.u-layout-cell-11:hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-layout-cell-11.u-layout-cell-11.u-layout-cell-11.hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-image-2,
.u-section-2 .u-image-2:before,
.u-section-2 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-2.u-image-2.u-image-2:hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-image-2.u-image-2.u-image-2.hover {
  transform: translateX(0px) translateY(-5px) !important;
}

.u-section-2 .u-text-11,
.u-section-2 .u-text-11:before,
.u-section-2 .u-text-11 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-11 {
  transform: translateX(10px) translateY(0px) !important;
}

.u-container-layout.hover > .u-section-2 .u-text-11 {
  transform: translateX(10px) translateY(0px) !important;
}

.u-section-2 .u-text-3,
.u-section-2 .u-text-3:before,
.u-section-2 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-container-layout:hover .u-text-3 {
  transform: translateX(10px) translateY(0px) !important;
}

.u-container-layout.hover > .u-section-2 .u-text-3 {
  transform: translateX(10px) translateY(0px) !important;
}

.u-section-2 .u-layout-cell-6,
.u-section-2 .u-layout-cell-6:before,
.u-section-2 .u-layout-cell-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-layout-cell-6.u-layout-cell-6.u-layout-cell-6:hover {
  transform: translateX(10px) translateY(0px) !important;
}

.u-section-2 .u-layout-cell-6.u-layout-cell-6.u-layout-cell-6.hover {
  transform: translateX(10px) translateY(0px) !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 514px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 429px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0 25px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 22px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 41px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 258px;
  grid-auto-columns: 33.3333%;
  grid-gap: 0px;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  transition-duration: 0.5s;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  margin: 24px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-text-4 {
  font-size: 3.75rem;
  font-weight: 700;
  transition-duration: 0.5s;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  margin: 24px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-text-6 {
  font-size: 3.75rem;
  font-weight: 700;
  transition-duration: 0.5s;
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.5rem;
  margin: 24px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 354px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 213px;
    grid-auto-columns: 33.333333333333336%;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 28px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 190px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 489px;
    grid-auto-columns: 50%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 218px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-text-2 {
    font-size: 4.5rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-4 {
    font-size: 4.5rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 4.5rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 910px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 362px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-3 .u-text-2 {
    font-size: 3rem;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: 21px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-3 .u-text-4 {
    font-size: 3rem;
    width: auto;
  }

  .u-section-3 .u-text-5 {
    margin-top: 21px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-3 .u-text-6 {
    font-size: 3rem;
    width: auto;
  }

  .u-section-3 .u-text-7 {
    margin-top: 21px;
  }
}

.u-section-3 .u-text-4,
.u-section-3 .u-text-4:before,
.u-section-3 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-4.u-text-4.u-text-4:hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(-5px) !important;
  color: #db545a !important;
}

.u-section-3 .u-text-4.u-text-4.u-text-4.hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(-5px) !important;
  color: #db545a !important;
}

.u-section-3 .u-container-layout:hover .u-text-4 {
  transform: scale(1.1) translateX(10px) translateY(0px) !important;
  color: #db545a !important;
}

.u-container-layout.hover > .u-section-3 .u-text-4 {
  transform: scale(1.1) translateX(10px) translateY(0px) !important;
  color: #db545a !important;
}

.u-section-3 .u-text-2,
.u-section-3 .u-text-2:before,
.u-section-3 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-2.u-text-2.u-text-2:hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(-5px) !important;
  color: #db545a !important;
}

.u-section-3 .u-text-2.u-text-2.u-text-2.hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(-5px) !important;
  color: #db545a !important;
}

.u-section-3 .u-container-layout:hover .u-text-2 {
  transform: scale(1.1) translateX(10px) translateY(0px) !important;
  color: #db545a !important;
}

.u-container-layout.hover > .u-section-3 .u-text-2 {
  transform: scale(1.1) translateX(10px) translateY(0px) !important;
  color: #db545a !important;
}

.u-section-3 .u-text-6,
.u-section-3 .u-text-6:before,
.u-section-3 .u-text-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-6.u-text-6.u-text-6:hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(-5px) !important;
  color: #db545a !important;
}

.u-section-3 .u-text-6.u-text-6.u-text-6.hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(-5px) !important;
  color: #db545a !important;
}

.u-section-3 .u-container-layout:hover .u-text-6 {
  transform: scale(1.1) translateX(10px) translateY(0px) !important;
  color: #db545a !important;
}

.u-container-layout.hover > .u-section-3 .u-text-6 {
  transform: scale(1.1) translateX(10px) translateY(0px) !important;
  color: #db545a !important;
}

.u-block-7e9a-29:not([data-block-selected]):not([data-cell-selected]),
.u-block-7e9a-29:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-7e9a-29:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-7e9a-29:not([data-block-selected]):not([data-cell-selected]).u-block-7e9a-29:not([data-block-selected]):not([data-cell-selected]).u-block-7e9a-29:not([data-block-selected]):not([data-cell-selected]):hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(-5px) !important;
  color: #db545a !important;
}

.u-block-7e9a-29:not([data-block-selected]):not([data-cell-selected]).u-block-7e9a-29:not([data-block-selected]):not([data-cell-selected]).u-block-7e9a-29:not([data-block-selected]):not([data-cell-selected]).hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(-5px) !important;
  color: #db545a !important;
}

.u-container-layout:hover > .u-block-7e9a-29:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.1) translateX(10px) translateY(0px) !important;
  color: #db545a !important;
}

.u-container-layout.hover > .u-block-7e9a-29:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.1) translateX(10px) translateY(0px) !important;
  color: #db545a !important;
}

.u-block-7e9a-33:not([data-block-selected]):not([data-cell-selected]),
.u-block-7e9a-33:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-7e9a-33:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-7e9a-33:not([data-block-selected]):not([data-cell-selected]).u-block-7e9a-33:not([data-block-selected]):not([data-cell-selected]).u-block-7e9a-33:not([data-block-selected]):not([data-cell-selected]):hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(-5px) !important;
  color: #db545a !important;
}

.u-block-7e9a-33:not([data-block-selected]):not([data-cell-selected]).u-block-7e9a-33:not([data-block-selected]):not([data-cell-selected]).u-block-7e9a-33:not([data-block-selected]):not([data-cell-selected]).hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(-5px) !important;
  color: #db545a !important;
}

.u-container-layout:hover > .u-block-7e9a-33:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.1) translateX(10px) translateY(0px) !important;
  color: #db545a !important;
}

.u-container-layout.hover > .u-block-7e9a-33:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.1) translateX(10px) translateY(0px) !important;
  color: #db545a !important;
}

.u-block-7e9a-37:not([data-block-selected]):not([data-cell-selected]),
.u-block-7e9a-37:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-7e9a-37:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-7e9a-37:not([data-block-selected]):not([data-cell-selected]).u-block-7e9a-37:not([data-block-selected]):not([data-cell-selected]).u-block-7e9a-37:not([data-block-selected]):not([data-cell-selected]):hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(-5px) !important;
  color: #db545a !important;
}

.u-block-7e9a-37:not([data-block-selected]):not([data-cell-selected]).u-block-7e9a-37:not([data-block-selected]):not([data-cell-selected]).u-block-7e9a-37:not([data-block-selected]):not([data-cell-selected]).hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(-5px) !important;
  color: #db545a !important;
}

.u-container-layout:hover > .u-block-7e9a-37:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.1) translateX(10px) translateY(0px) !important;
  color: #db545a !important;
}

.u-container-layout.hover > .u-block-7e9a-37:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.1) translateX(10px) translateY(0px) !important;
  color: #db545a !important;
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 474px;
}

.u-section-4 .u-accordion-1 {
  margin: 0 0 60px;
}

.u-section-4 .u-accordion-link-1 {
  font-size: 1.875rem;
  text-decoration: none solid rgb(0, 0, 0);
  text-transform: none;
  font-style: italic;
  background-image: none;
  font-weight: 400;
}

.u-section-4 .u-icon-1 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin-top: 0;
  font-size: 1.25rem;
  padding-left: 50px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-accordion-link-2 {
  font-size: 1.875rem;
  text-decoration: none solid rgb(17, 17, 17);
  text-transform: none;
  font-style: italic;
  background-image: none;
  font-weight: 400;
}

.u-section-4 .u-icon-2 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  padding-left: 50px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0 0;
}

.u-section-4 .u-accordion-link-3 {
  font-size: 1.875rem;
  text-decoration: none solid rgb(17, 17, 17);
  text-transform: none;
  font-style: italic;
  background-image: none;
  font-weight: 400;
}

.u-section-4 .u-icon-3 {
  height: 20px;
  width: 20px;
  background-image: none;
  padding: 4px;
}

.u-section-4 .u-accordion-pane-3 {
  min-height: 152px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-accordion-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
  }
}